.detaljiSerije {
    align-items: center;
    border-radius: 16px;
    border: 12px solid rgb(61, 61, 61);
    background-color: rgb(61, 61, 61);
    display: flex;
    flex-direction: column;

    * {
        margin: 10px;
    }

    button {
        margin: 4px;
    }

    a {
        margin: 0px;
    }

    .osimGumba {
        align-items: center;
        display: flex;
        flex-direction: row;

        .vertikalno {
            display: flex;
            flex-direction: column;
        }

        .pola {
            width: 50%;
        }
    }

    img {
        margin-right: 32px;
    }
}

ul {
    list-style-type: none;
}

.sezona {
    text-align: center;
    align-items: center;
    margin: 12px;
    border: 12px solid #333;
    background-color: #333;
    border-radius: 16px;
}

.informacijeSezona {
    text-align: center;
    align-items: center;
    border-radius: 16px;
    border: 12px solid rgb(61, 61, 61);
    background-color: rgb(61, 61, 61);
    display: flex;
    flex-direction: row;
    padding: 16px;
    margin-bottom: 24px;

    img {
        width: 200px;
        margin-right: 32px;
    }

    .sezonaTekstovi {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
    }
}