<h2 *ngIf="naziv != undefined">{{naziv}}</h2>
<div class="detaljiSerije">
    <div class="osimGumba">
        <div class="vertikalno">
            <p *ngIf="opis != undefined">{{opis}}</p>
            <a *ngIf="pocetna_putanja != undefined" [href]="pocetna_putanja">{{pocetna_putanja}}</a>    
        </div>

        <div class="pola">
            <img *ngIf="slika_putanja != undefined" [src]="slika_putanja" [alt]="naziv" width="300">
            
            <div class="vertikalno">
                <p *ngIf="broj_epizoda != undefined">Broj epizoda: {{broj_epizoda}}</p>
                <p *ngIf="broj_sezona != undefined">Broj sezona: {{broj_sezona}}</p>
                <p *ngIf="popularnost != undefined">Popularnost: {{popularnost}}</p>
            </div>
        </div>
    </div>
    
    <button (click)="ukloniSerijuIzFavorita()">Ukloni iz favorita</button>
</div>

<div class="sezona">
    <h3>Sezone</h3>
    <p>Informacije o svim sezonama</p>

    <ul *ngIf="sezone != undefined">
        <li *ngFor="let s of sezone" class="informacijeSezona">
            <img *ngIf="s.slika_putanja != undefined" [src]="s.slika_putanja" [alt]="naziv" width="200">
            <h4 *ngIf="s.naziv != undefined">{{s.naziv}}</h4>
            <div class="sezonaTekstovi">
                <p *ngIf="s.opis != undefined">{{s.opis}}</p>
                <p *ngIf="s.broj_epizoda != undefined">Broj epizoda: {{s.broj_epizoda}}</p>
            </div>
        </li>
    </ul>
</div>
