* {
    font-family: arial;
    margin: 0px;
}

@for $i from 2 through 4 {
    h#{$i} {
      font-size: 32px - 6 * ($i - 2);
      margin-top: 20px - 4 * ($i - 2);
      margin-bottom: 32px - 2 * ($i - 2);
    }
  }

img {
    height: auto;
    transition: transform 0.5s ease-in-out;
}

img:hover {
    transform: scale(1.2);
}

main {
    margin: 16px;
}

footer {
    color: white;
    text-align: center;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

a {
    color: red;
}